<AuthorizeView>
    <Authorized>
        <div id="container">
            <MudButton Variant="Variant.Outlined" Link="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</MudButton>
        </div>
    </Authorized>
    <NotAuthorized>
        <div id="container">
            <MudButton Variant="Variant.Outlined" Disabled="true" Link="Identity/Account/Register">Register</MudButton>
            <MudButton Variant="Variant.Outlined" Link="Identity/Account/Login">Log in</MudButton>
        </div>
    </NotAuthorized>
</AuthorizeView>
