@page "/"
@using Bhasha.Common
@using Services
@inject ISettingsProvider SettingsProvider
@inject IStudentApiClient Client

<ul>
    @foreach (var language in Languages)
    {
        <li>@language.Name</li>
    }
</ul>

<h1>Hello, world!</h1>

Welcome to your new app.

<MatButton>Test</MatButton>

<SurveyPrompt Title="How is Blazor working for you?" />

Author API: @Settings?.StudentApi

@code {

    public AppSettings Settings { get; private set; }
    public Language[] Languages { get; private set; } = new Language[0];

    protected override async Task OnInitializedAsync()
    {
        Settings = await SettingsProvider.GetSettings();
        Console.WriteLine("Settings done");
        try
        {
            Languages = await Client.GetLanguages();
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            Console.WriteLine(e.StackTrace);
        }
        Console.WriteLine("Languages done => " + Languages.Length);
    }
}